/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  background-color: #F57F66;
  font-family: 'Concert One', sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
}

footer {
    margin-bottom: auto;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1 {
    z-index: 100;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    color: #5085F6;
    padding: 0 25px;
    background-color: #fff;
    border: 8px solid #5085F6;
    border-radius: 25px;

    max-width: 80vw;
}
h2 {
    font-size: 3em;
    margin: 25px;
}

.bannerBox {
    -webkit-filter: drop-shadow( 4px 8px 8px hsl(0deg 0% 0% / 0.38));
    filter: drop-shadow( 4px 8px 8px hsl(0deg 0% 0% / 0.38));
    position: relative;
    margin-top: 10vh;
}

.bannerHolder {
    overflow-y: visible;
    position: relative;
    width: 90%;
    margin: 0 auto;

}
#winnerBanner {
    position: absolute;
    z-index: 190;
    width: 100%;
    background-color: #fff;    
    border: 8px solid #5085F6;
    border-top: none;
    border-radius: 0 0 25px 25px;
    margin: 0 auto;
    height: 30px;
    transform: translate(0, 150px);
}

.gameBox {
    z-index: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.buttonBox {
    display: flex;
    justify-content: space-around;
    gap:20px;
    height: 250px;
}
.resultsBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 300px;
}

.playerBox {
    width: 80px;
}

.scoreBox {
    display: flex;
    justify-content: space-around;
}

#computerScore,
#playerScore {
    font-size: 4em;
}
.imgBox {
    width: 180px;
    flex-shrink: 0;
}

.imgButton {
    transition: transform 0.25s, filter 0.25s;
    width: 180px;
    padding: 15px;
    margin-top: 10px;
    -webkit-filter: drop-shadow( 2px 4px 4px hsl(0deg 0% 0% / 0.38));
    filter: drop-shadow( 2px 4px 4px hsl(0deg 0% 0% / 0.38));
}

.imgButton:hover {
    transform: scale(1.05);
    filter: drop-shadow( 3px 6px 6px hsl(0deg 0% 0% / 0.31)); 
    -webkit-filter: drop-shadow( 3px 6px 6px hsl(0deg 0% 0% / 0.31)); 
}
.imgBox:hover .imgDesc {
    visibility: visible;
    opacity: 1;
}

.imgButton:active {
    transform: scale(0.95);
    filter: drop-shadow( 1px 2px 2px hsl(0deg 0% 0% / 0.38));
    -webkit-filter: drop-shadow( 1px 2px 2px hsl(0deg 0% 0% / 0.38));

}
